@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oswald:200,400,600,700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
}

.morado{
    background-color: #660066;
}

.oswald-bold{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
.oswald-light{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
  }

.navbar-brand{
      margin-left: 8%;
    }

.navbar-nav {
    margin-right: 8%;
    }

.head {
    background-image: url('../img/space.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 500px;
  }

header{
    padding-top: 5px;
  }
  
.text-head{
    position: absolute;
    font-size: 48px;
    bottom: 150px;
    right: 0px;
  }
.hr-head{
    border: 1px solid #ffffff;
    width: 20%;
} 

.flex-container {
  display: flex;
  height: auto;
  width: auto;
  flex-wrap: wrap;
  margin: 2%;
  justify-content: space-evenly;

  
}

.flex-item {
  height: 480px;
  width: 350px;
  padding: 15px;

} 



@supports(object-fit: cover){
  .imagen{
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

h3{
  margin: 0%;
}

.hr1{
margin: 2%;
 background-color:black;
}

.card-img-overlay{
  margin-top: 105%;
}


footer{
  height: 130px;
  width: auto;
}

.final{
font-size: 1%;
padding: 3%;
 
}

h3{
  font-size: 40px;
  
}
.textonero{
  
  color: #ffffff;
  
  
}

.trans {
 
  height: 25px;

  
}

.background {

  background: rgba(58, 1, 59, 0.5);
  margin: 0px 0px 10px 0px;
}

.carousel{
    background-color: #660066;
    margin-top: 20px;
    padding: 5%;
  }



.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    }

  .experiencia{
    color: #ffffff;
    text-align: center;
    margin-top: 0%;
  }

  .imagencarousel{
    margin-top: 50px;
  }

  .textocarousel{
    margin-top: 26px;
  }

  #proyectos{
    margin-top: 150px;
  }

  #contact {
    margin-top: 150px;
  }

 
  .container-fluid{
  padding-top: 2%;
    text-align: center;
  }

  .card {
    margin-bottom: 30px;
  }

  