body {
    font-family: 'Open Sans', sans-serif;
  }

/* Barra de navegacion*/
.morado{
    background-color: #660066;
  }

  .oswald-bold{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
  }
  .oswald-light{
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
  }